*.d51
*.d51
*.pbd
*.pbi
*.r51
*.bat
*.dbgdt
*.dni
*.wsdt
*.wsdt
*.dni
*.dbgdt
*.bat
*.dep
*.r51
*.pbi
*.pbd
*.d51
*.d51
*.ewd
*.ewp
*.exe
*.pdb
*.txt
*.ipch
*.sdf
*.suo
*.tlog
*.log
*.manifest
*.lastbuildstate
*.cache
*.obj
*.idb
*.lib
*.vcxproj
*.filters
*.user
workspace.eww